black==22.3.0
django-stubs>=1.9.0,<1.12
django<4.1
factory-boy==3.2.1
flake8-bugbear==21.9.2
flake8-django==1.1.1
flake8-docstrings==1.6.0
flake8==4.0.1
furo==2022.12.7
isort==5.10.1
mypy==0.942
nox==2021.10.1
PyLTI1p3==1.10.0
pytest-django==4.5.1
pytest==6.2.5
Sphinx==5.3.0
