name: Run quality checks
on: [push]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install --user --upgrade nox
      - run: nox -s lint
  sort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install --user --upgrade nox
      - run: nox -s sort
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install --user --upgrade nox
      - run: nox -s format
  types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - run: pip install --user --upgrade nox
      - run: nox -s types
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ['3.6', '3.7', '3.8', '3.9', '3.10']
        django: ['3.2.0', '4.0.0', '4.1.0']
        exclude:
          - python: '3.6'
            django: '4.0.0'
          - python: '3.6'
            django: '4.1.0'
          - python: '3.7'
            django: '4.0.0'
          - python: '3.7'
            django: '4.1.0'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - run: pip install --user --upgrade nox
      - run: nox -s "test(python='${{ matrix.python }}', django='${{ matrix.django }}')"
